/*html, body{overflow: hidden!important;}*/
/*h5, .h5{font-size: 10px; border-bottom: 1px solid #AEAEAE; color: #A0A0A0; padding: .3em;}*/

h1,.h1,h2,.h2, h3,.h3,h4,.h4,h5,.h5{font-weight: normal;color:#555;}

.bg-green{background-color: #00a65a !important;}
.color-blue{color: #0099ff;}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #dedede;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #dedede;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #dedede;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #dedede;
}

.header{
  background-color: #eaeaea;
  padding: 15px;
}

.wrapper{min-height: 380px;}
.left-side{
    position: absolute;
    width: 190px;
}
.right-side{
    background-color: #ffffff;
    margin-left: 540px;
}
.second-left-side{
    position: absolute;
    width: 350px;
    left: 190px;
}
.right-side, .left-side, .second-left-side {
    min-height: 100%;
    display: block;
}

.column-header{
    background-color: #517189;
    /*background-color: #219753;*/
    min-height: 60px;
    padding: 15px 20px;
}

.column-header > h2{margin: 0; font-size: 22px; color: #fff;}

.action-controls .fa{color: #999; cursor: pointer;}

.active .action-controls .fa-star,
.selected .action-controls .fa-star,
.action-controls .fa-star{color: #ff9f12;}

.profile{
  position: relative;
  padding: 10px 15px;
}
.profile-avatar{
    padding: 1px;
}
.profile-name{
    color: #fff;
    font-size: 12px;
}
.profile-dropdown{
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 10px;
}
.profile-dropdown > .glyphicon{
  color: rgba(255, 255, 255, .7);
  cursor: pointer;
}
.profile-dropdown:hover > .glyphicon{
  color: #fff;
}

.left-side-tabs .nav-tabs>li>a,
.left-side-tabs .nav-tabs>li>a:hover,
.left-side-tabs .nav-tabs>li>a:focus{
    background-color: #E0E0E0;
    border-radius: 0;
    color: #aaa;
}
.left-side-tabs .nav-tabs>li.active>a,
.left-side-tabs .nav-tabs>li.active>a:hover,
.left-side-tabs .nav-tabs>li.active>a:focus{
    background-color: #f9f9f9;
    border-radius: 0;
    color: #555;
}

#maillistWrapper,
#contactlistWrapper{
  height: 600px; overflow-y:auto; overflow-x: hidden; padding: 0 15px 20px;
}


.block-screen{
  background-color: rgba(172,172, 172, 0.6);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.mail-list-item{
    position: relative;
    padding: 10px 10px;
    margin: 0;
    overflow: hidden;
}
.mail-list-item{padding-left: 35px;}
.mail-list-item .action-controls{
    position: absolute;
    width: 10px;
    height: 100%;
    left: 10px;
}
.mail-list-item > h4{font-size: 14px;}
.mail-list-item > h4,
.mail-list-item .writer > strong{
    font-weight: normal;
}
.mail-list-item > p{
    color: #999;
}
.unread.mail-list-item > h4,
.unread.mail-list-item .writer > strong{
    font-weight: bold;
}
.mail-list-item:nth-child(2n-1){
    background-color: #f5f5f5;
}
.mail-list-item.selected{
    background-color: #fafba6;
}
.mail-list-item.active{
    background-color: #b7bcc7;
    color: #fff;
}
.mail-list-item.active > p{color: #fff;}

.mail-reply{
    padding: 20px;
}

.toolbar{position: relative;padding: 20px 15px;}
.toolbar-fixed{position: absolute; width: 100%; z-index: 2;}
.toolbar-placeholder{height: 100px;}
.toolbar-bottom{position: absolute; bottom: 0; width: 100%;}
.toolbar-right{
  position: absolute;
  display:block;
  right: 1em;
  top: 1em;
  text-align: center;}


.second-left-side{overflow-y: auto;}

.search-box{position: relative;}
.search-box input{color: #444; padding: 2px 22px 2px 3px;}
.search-icon{
    position: absolute;
    right: 4px;
    height: 26px;
    top: 2px;
    color: #A0A0A0;
}


.mail-entry{padding: 0 20px;}
.mail-title{margin: 0;}


/***
 THEME
***/
.left-side{
    background-color: #f9f9f9;
    border-right: 1px solid #ccc;
}
.second-left-side{
    background-color: #fff;
    border-right: 1px solid #ccc;
}
.wrapper{
    /*background-color: #ebebeb;*/
}
.mail-menu.nav-stacked > li > a{
    border-top: 0;
    border-right: 2px solid transparent;
    color: #A0A0A0;
    padding: 10px 15px;
}
.mail-menu.nav-stacked > li > a > span{
    color: #777;
}
.mail-menu.nav-stacked > .active > a{
    background-color: #f1f1f1;
    border-right-color: #3c8dbc;
    color: #777;
}

.mail-menu.nav-stacked > .active span {
    color: #333;
}

.mail-menu.nav-stacked > li i{
    margin-right: 15px;
}
.compose-btn.btn{
    background-color: #e9565a;
    border-color: #cc4b4c;
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: normal;
    font-family: 'ProximaNovaReg', helvetica, arial, sans-serif;
}
