email=yourname@gmail.com
password=PASSWORD

pop=pop.gmail.com
pop.port=995
pop.ssl=true

imap=imap.gmail.com
imap.port=143
imap.ssl=false

work.dir=${user.home}/webmail

# log file location, file will write to the path
# as follow if possible.
log.dir=/var/log/webmail

# DB file must be putted in here.
db.path=${user.home}/webmail/webmail.db

# Scan path now was deprecated. Please don't use it any more.
# scan.package=cs601.webmail