<img src="/resources/img/avatar/avatar_2x.png" height="40" width="40"
     class="profile-avatar img-circle img-thumbnail" alt="Avatar" />
<span class="profile-name">${fullName}</span>

##<div class="profile-dropdown dropdown" >
##    <span class="glyphicon glyphicon-collapse-down dropdown-trigger" data-toggle="dropdown"></span>
##
##    <ul class="dropdown-menu" role="menu">
##        <li><a href="#">Foo</a></li>
##        <li><a href="#">Bar</a></li>
##    </ul>
##</div>