<div class="mail-info">
    <h2>${mail.subject}</h2>
    <div class="pull-right">
        <span>$mail.date</span>
    </div>
    <h3></h3>
    <p>
            #if($folder != 'sent')
                <span>$esc.html($mail.from)</span> to me
            #else
                To: <span>$esc.html($mail.to)</span>
            #end
    </p>
    #if ($!mail_cc)
            <p>Cc: $!mail_cc</p>
        #end
        <p></p>
        <div class="hidden">
            <input type="hidden" name="mail_id" value="$!mail.id"/>
            <input type="hidden" name="mail_subject" value="$!mail.subject"/>
            <input type="hidden" name="mail_date" value="$!mail.date"/>
            <input type="hidden" name="mail_from" value="$!mail_from"/>
            <input type="hidden" name="mail_to" value="$!mail_to"/>
            <input type="hidden" name="mail_cc" value="$!mail_cc"/>
            <input type="hidden" name="mail_content_type" value="$!mail_content_type"/>
        </div>
</div>

<hr/>

<div class="mail-body">

<pre>
${mail.content}
</pre>

</div><!-- end .mail-body -->

##<hr/>
##<div class="mail-attachments">
##    <h5><i class="fa fa-paperclip"></i> Attachments <small>(3 files, 680kb)</small></h5>
##    <div class="list-group">
##        <a href="/attachments?id=123123212312" class="list-group-item"><i class="fa fa-file-o"></i> force.gif <small>(128kb)</small></a>
##        <a href="#" class="list-group-item"><i class="fa fa-file-o"></i> lighsaber.png</a>
##        <a href="#" class="list-group-item"><i class="fa fa-file-o"></i> hax.html</a>
##    </div>
##</div>